@font-face {
  font-family: StarJedi;
  src: url(../font/Starjedi.ttf)
}

body {
  background-color: #000;
  height: 100%;
}

#particles-js {
  position: absolute;
  width: 100%;
  min-height: 100vh;
}

.particles-js-canvas-el {
  position: fixed;
  z-index: -1;
}

#charContainer {
  position: inherit;
}

h1 {
  font-family: StarJedi, monospace;
  margin: 1em;
  color: #FFE919;
}

.char {
  margin-bottom: 3em;
}

.char:hover {
  opacity: 0.5;
  cursor: pointer;
}

.modal {
  padding: 0 !important;
}

.modal-content {
  background-color: #000;
  font-family: monospace;
}

.modal-title {
  color: #FFE919;
  font-weight: 700;
}

.modal-body p {
  color: #1AD5D2;
}

.modal-header h4 {
  font-size: 3em;
}